<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>930151827044-t7lhrfln944fi3hehmkr9h02rmq74ubv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.930151827044-t7lhrfln944fi3hehmkr9h02rmq74ubv</string>
	<key>API_KEY</key>
	<string>AIzaSyC9q8EWq_GiLLnypSqmDZbsfMTfOESr5oA</string>
	<key>GCM_SENDER_ID</key>
	<string>930151827044</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebase</string>
	<key>PROJECT_ID</key>
	<string>tasks-24dcb</string>
	<key>STORAGE_BUCKET</key>
	<string>tasks-24dcb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:930151827044:ios:3ae7694e5e498caa36c171</string>
</dict>
</plist>